In [1]:
import pandas as pd

In [ ]:
"""
Data source:
https://www.football-data.co.uk/

link to csv file:
https://www.football-data.co.uk/mmz4281/1011/E0.csv
                                      season/league
                                      
In the link, '2122' means season 2021/2022
E0 - Premier league
E1 - Championship
E2 - League 1
E3 - League 3
"""

In [4]:
#GENERATING a LIST for ALL of the seasons 

y = 10                                                   #year starting 2010
s = []                                                   #empty list for the seasons

while y <= 21:
    s.append(str(y)+str(y+1))
    
    y = y + 1
    
print(s)

['1011', '1112', '1213', '1314', '1415', '1516', '1617', '1718', '1819', '1920', '2021', '2122']

In [5]:
#TESTING links
for i in s:
    print(f'https://www.football-data.co.uk/mmz4281/{i}/E0.csv')

https://www.football-data.co.uk/mmz4281/1011/E0.csv
https://www.football-data.co.uk/mmz4281/1112/E0.csv
https://www.football-data.co.uk/mmz4281/1213/E0.csv
https://www.football-data.co.uk/mmz4281/1314/E0.csv
https://www.football-data.co.uk/mmz4281/1415/E0.csv
https://www.football-data.co.uk/mmz4281/1516/E0.csv
https://www.football-data.co.uk/mmz4281/1617/E0.csv
https://www.football-data.co.uk/mmz4281/1718/E0.csv
https://www.football-data.co.uk/mmz4281/1819/E0.csv
https://www.football-data.co.uk/mmz4281/1920/E0.csv
https://www.football-data.co.uk/mmz4281/2021/E0.csv
https://www.football-data.co.uk/mmz4281/2122/E0.csv

In [6]:
links = []
for i in s:
    links.append(f'https://www.football-data.co.uk/mmz4281/{i}/E0.csv')

In [24]:
wanted = ['Season', 'Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']
data = pd.DataFrame(columns=wanted)

print(f'The table contains {data.shape[0]} rows and {data.shape[1]} columns - {data.size} values')
print('starting the loop')
print('getting data')

for i in links:
    temp = pd.read_csv(i)
    season = str(pd.DatetimeIndex(temp['Date']).year.min())+'/'+str(pd.DatetimeIndex(temp['Date']).year.max())
    temp['Season'] = season
    temp = temp[wanted]
    data = data.append(temp, ignore_index=True)
    
    print(f'adding {temp.shape[0]} rows to the table')

print('extracting finished')
print(f'{data.shape[0]} rows, {data.shape[1]} columns - {data.size} cells')

The table contains 0 rows and 24 columns - 0 values
starting the loop
getting data
adding 380 rows to the table
adding 380 rows to the table
adding 380 rows to the table
adding 380 rows to the table
adding 381 rows to the table
adding 380 rows to the table
adding 380 rows to the table
adding 380 rows to the table
adding 380 rows to the table
adding 380 rows to the table
adding 380 rows to the table
adding 380 rows to the table
extracting finished
4561 rows, 24 columns - 109464 cells

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4561 entries, 0 to 4560
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    4561 non-null   object
 1   Div       4560 non-null   object
 2   Date      4560 non-null   object
 3   HomeTeam  4560 non-null   object
 4   AwayTeam  4560 non-null   object
 5   FTHG      4560 non-null   object
 6   FTAG      4560 non-null   object
 7   FTR       4560 non-null   object
 8   HTHG      4560 non-null   object
 9   HTAG      4560 non-null   object
 10  HTR       4560 non-null   object
 11  Referee   4560 non-null   object
 12  HS        4560 non-null   object
 13  AS        4560 non-null   object
 14  HST       4560 non-null   object
 15  AST       4560 non-null   object
 16  HF        4560 non-null   object
 17  AF        4560 non-null   object
 18  HC        4560 non-null   object
 19  AC        4560 non-null   object
 20  HY        4560 non-null   object
 21  AY        4560 non-null   object
 22  HR        4560 non-null   object
 23  AR        4560 non-null   object
dtypes: object(24)
memory usage: 855.3+ KB

In [43]:
data.to_excel('England_Premier_League_2010-2022.xlsx', sheet_name= 'Premier League')